@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
	--doge-font: "Comic Neue", sans-serif;
}

html, body {
	margin: 0;
	font-family: sans-serif;
	font-size: 1rem;
  padding: 0em;
  @media only screen and (min-width: 980px) {
    padding: 1em;
  }
}

header {
  padding: 1em;
  @media only screen and (min-width: 980px) {
    padding: 1em;
  }
}

header h1 {
	font-family: var(--doge-font);
}

.page {
	max-width: 980px;
	text-align: left;
  margin: 2em auto;
}

img {
  max-width: 100% !important;
}

pre {
  margin: 1em 0em !important;
}

section {
	margin: 4em 0em;
	background: #f7f7f8;
  padding: 1em;
  @media only screen and (min-width: 980px) {
    padding: 2em;
  }
}

section h3 {
	font-family: var(--doge-font);
}

.comic {
	font-family: "Comic Neue", sans-serif;
}